tbody .rank {
    text-align: right !important;
}

tbody .startLevel, tbody .endLevel, tbody .earnedLevel {
    text-align: right !important;
}

tbody .startLevel, tbody .endLevel, tbody .earnedLevel {
    text-align: right !important;
}

tbody .startAp, tbody .endAp, tbody .earnedAp {
    text-align: right !important;
}

.siteNameWrapper {
    display: inline-block;
    vertical-align: bottom;
}

.siteName {
    margin-right: 0.5em;
    vertical-align: bottom;
}

.paginatorWrapper {
    margin-top: 0.5em;
}

.pagingButton {
    border: none !important;
}

.orderBy {
    margin-right: 5px;
    color: cyan;
}

.ordered {
    background-color: blue;
}

.sortable {
    cursor: pointer;
}

.sortable:hover {
    background-color: #0099FF;
}

#onlyOrphanRecord {
    vertical-align: bottom;
    margin-left: 0.5em;
}
