#tsv {
    width: 100%;
}

.wrapper {
    width: 100%;
}

#agentRecordWrapper {
    margin-top: 1em;
}

#buttons {
    margin-top: 1em;
}

td.agentLevel {
    text-align: right !important;
}

td.lifetimeAp {
    text-align: right !important;
}

td.distanceWalked {
    text-align: right !important;
}

#agentRecordWrapper .label span {
    margin-right: 1em;
    vertical-align: bottom;
}

.close.button {
    width: 10em;
}

.qr canvas {
    margin-left: 1em;
    vertical-align: top;
    border: solid 2px white;
}

.site-table {
    margin-bottom: 0px !important;
}

.row0 {
    display: table !important;
}

.site-table {
    display: table-cell;
    vertical-align: top;
}

.qr {
    display: table-cell;
    vertical-align: bottom;
}

.showScore {
}

.agentNameWrapper {
    margin-bottom: 0.5em;
    display: inline-block;
}

.agentNameWrapper .header {
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: bottom;
}

.agentNameWrapper .body {
    margin-right: 0.5em;
}

.button.confirm {
    margin-top: 0.5em;
}

.termOfUseConfirm .dialogButtons {
    margin-left: 1em;
    margin-right: 1em;
}
